# URL de conexão com o PostgreSQL do Render
DATABASE_URL=postgresql://postgres:VEmHtgUlqjffzHmwhNgXKasmlJpMbONT@shinkansen.proxy.rlwy.net:49486/railway
# Pode ser qualquer frase longa e segura
JWT_SECRET=sua_chave_secreta_aqui_123456

# Porta onde o servidor vai rodar
PORT=3000