#cartStatus {
  background-color: var(--accent);
  color: var(--white);
  width: 15px;
  height: 15px;
  border-radius: 15px;
  bottom: 0;
  left: 0;
  display: flex;
  font-size: 12px;
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#btn_cart {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}
