.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
  padding: 20px;
}

.portal-card {
  background: var(--white);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px; 
}

.img-container {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 8px;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.portal-card h4 {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.4em; 
  line-height: 1.2em;
}

.price {
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.btn-add-cart {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}